extends ../_layout

block page-title
    title !{result.title}

block content
    .col-md-10.col-md-offset-1
        .panel.panel-default
            .panel-heading Седмичен график
            .panel-body
                table(class="table table-striped")
                    - const dayNames = ['Понеделник','Вторник','Сряда','Четвъртък','Петък'];
                    thead
                        tr
                            th Час
                            - for(let i = 0; i < 5; i += 1) {
                                th !{dayNames[i]} !{result.weekDays[i].getDate()}.!{result.weekDays[i].getMonth() + 1}.!{result.weekDays[i].getFullYear()}
                            - }
                    tbody
                        each val in result._defaultSchema
                            tr
                                td !{val}:00
                                td(class="text-center")  
                                    - if(val < result.mySchema.monday.begin || val > result.mySchema.monday.end) {
                                        span(class="glyphicon glyphicon-remove-circle text-danger")    
                                    - } else {                             
                                        each v in result.reservations
                                            - if(v._date === result.weekDays[0].toISOString() && v._hour === (val + ':00')) {
                                                span !{v._firstName} !{v._lastName}
                                            - }
                                    - }
                                td(class="text-center")  
                                    - if(val < result.mySchema.tuesday.begin || val > result.mySchema.tuesday.end) {
                                        span(class="glyphicon glyphicon-remove-circle text-danger") 
                                    - } else {                             
                                        each v in result.reservations
                                            - if(v._date === result.weekDays[1].toISOString() && v._hour === (val + ':00')) {
                                                span !{v._firstName} !{v._lastName}
                                            - }
                                    - }
                                td(class="text-center")  
                                    - if(val < result.mySchema.wednesday.begin || val > result.mySchema.wednesday.end) {
                                        span(class="glyphicon glyphicon-remove-circle text-danger")    
                                    - } else {                             
                                        each v in result.reservations
                                            - if(v._date === result.weekDays[2].toISOString() && v._hour === (val + ':00')) {
                                                span !{v._firstName} !{v._lastName}
                                            - }
                                    - }
                                td(class="text-center")  
                                    - if(val < result.mySchema.thursday.begin || val > result.mySchema.thursday.end) {
                                        span(class="glyphicon glyphicon-remove-circle text-danger") 
                                    - } else {                             
                                        each v in result.reservations
                                            - if(v._date === result.weekDays[3].toISOString() && v._hour === (val + ':00')) {
                                                span !{v._firstName} !{v._lastName}
                                            - }
                                    - }
                                td(class="text-center")  
                                    - if(val < result.mySchema.friday.begin || val > result.mySchema.friday.end) {
                                        span(class="glyphicon glyphicon-remove-circle text-danger") 
                                    - } else {                             
                                        each v in result.reservations
                                            - if(v._date === result.weekDays[4].toISOString() && v._hour === (val + ':00')) {
                                                span !{v._firstName} !{v._lastName}
                                            - }
                                    - }
