extends ../_layout

block page-title
    title !{result.title}

block content
    .col-md-3.col-md-offset-4
        .panel.panel-default
            .panel-heading Справка за рецепти
            .panel-body
                form(method="post")
                    .form-group.input-group.input-group
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-user")
                        input(type="text" id="pin" class="form-control" name="pin" placeholder="ЕГН" aria-describedby="sizing-addon3")
                    include ../error-messages
                    .form-group
                        button(id="btnRecipeCheck" class="btn btn-info btn-block") Търси
    if result.recipes
        .col-md-7.col-md-offset-2
            .panel.panel-default
                .panel-heading Издадени рецепти за: 
                    strong !{result._patientFirstName}  !{result._patientLastName}
                .panel-body                
                    .recipes                    
                        table(class="table table-striped")
                            thead
                                tr
                                    th Издател
                                    th УИН
                                    th Специалност
                                    th Валидна до
                                    th Съдържание
                            tbody                
                                each val in result.recipes
                                    tr
                                        td д-р !{val._doctorFirstName} !{val._doctorLastName}
                                        td !{val._doctorRegNumber}
                                        td !{val._doctorSpeciality}                                
                                        td !{val._expirationDate}
                                        td !{val._content}                                
    
    script(src="./static/scripts/requester.js")
    script(src="./static/scripts/recipe-search.js")
