extends ../_layout

block page-title
    title !{result.title}

block content
    .col-md-3.col-md-offset-3
        .panel.panel-default
            .panel-heading Справка за рецепти
            .panel-body
                form(method="post")
                    .form-group.input-group.input-group
                        span(class="input-group-addon" id="sizing-addon3")
                            span(class="glyphicon glyphicon-user")
                        input(type="text" id="pin" class="form-control" name="pin" placeholder="ЕГН" aria-describedby="sizing-addon3")
                
                    .form-group
                        button(id="btnRecipeCheck" class="btn btn-info btn-block") Търси

    .col-md-6.col-md-offset-3        
        if result.recipes
            .recipes
                p Издадени рецепти за: 
                    strong !{result._patientFirstName}  !{result._patientLastName}
                table(class="table")
                    thead
                        tr
                            th Издател
                            th Валидна до
                            th Съдържание
                    tbody                
                        each val in result.recipes
                            tr
                                td Д-р !{val._doctorFirstName} !{val._doctorLastName}
                                td !{val._expirationDate}
                                td !{val._content}

    script(src="./static/scripts/requester.js")
    script(src="./static/scripts/recipe-search.js")
